{% load static %}
<header class="p-2 text-white bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 navbar">
                <li><a href="{% url 'home' %}" class="nav-link px-2 text-white">Home</a></li>
            </ul>
            {% if not user.is_authenticated %}
             <div class="text-end">
                <a href="{% url 'login' %}">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                </a>
                <a href="{% url 'register' %}">
                    <button type="button" class="btn btn-light">Sign-up</button>
                </a>
            </div>
            {% endif %}
            {% if user.is_authenticated %}
            <div class="dropdown text-end px-2">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{% static 'images/user.png' %}" alt="Gravatar" width="32" height="32"
                         class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small">
                    <li class="dropdown-item"> Hi, {{ user.username }}</li>
                    {% if user.is_superuser %}
                    <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin Page</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'my_tickets' %}">mytickets</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                </ul>
            </div>
            <div>
                <a type="button" role="button" href="{% url 'cart' %}"
                   class="btn btn-outline-secondary border-0 basket-btn">
                    <div class="position-relative">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                             class="bi bi-cart3 position-relative" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">{{ cart|length }}
                                <span class="visually-hidden">Cart Items</span>
                            </span>
                        </svg>
                    </div>

                </a>
            </div>
            {% endif %}

        </div>
    </div>
</header>