{% extends 'base.html' %}
{% block title %}Cart | ticket app {% endblock %}
{% block content %}
{% if not cart_events %}
<div class="container text-center py-5">
    Cart is empty!<br>
    <a href="{% url 'home' %}">Discover new events</a>
</div>
{% else %}
<div class="container-fluid px-3 py-5 col-sm-10 col-md-7 cart">
    <div class="h3 fw-bold">Your Cart</div>

    {% for event in cart_events %}

    <div class="order d-flex justify-content-between p-2">
        <h5 class="name">{{ event.name }}</h5>
        {% for key, value in tickets.items %}
        {% if key == event.id|slugify %}
        <p class="tickets">x{{ value.tickets }} {{ value.ticket_type }}</p>
        <p>Kes {{ value.ticket_price }}</p>
        {% endif %}
        {% endfor %}
        <a href="{% url 'delete_from_cart' event.id %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-trash3-fill"
                 viewBox="0 0 16 16">
                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
            </svg>
        </a>
    </div>
    {% endfor %}

    <div class="text-end p-1">
        <div class="pt-2">Total price: <span class="fw-bold h5">Kes {{ total_price }}</span>
            <span id="total" class="fw-bold h5"></span>
        </div>
    </div>

    <div class="d-flex flex-column mt-4 px-2">
        <form action="{% url 'stripe_checkout' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ price_ids }}" name="price_ids">
            <button class="w-100 btn btn-dark btn-sm" name="checkout" type="submit">

            <span>Checkout <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-right-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd"
        d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
</svg></span>
            </button>
        </form>
    </div>

</div>


{% endif %}
{% endblock %}