<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Thanks for your order! {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'css/styles.css' %}">
</head>

<body>
<div class="vh-100 d-flex justify-content-center align-items-center px-3">
    <div class="col-md-6">
        <div class="border border-3 border-dark"></div>
        <div class="card bg-white shadow p-5 mx-auto w-100">
            <div class="mb-4 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="text-success" width="75" height="75"
                     fill="black" class="bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path
                            d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                </svg>
            </div>
            <div class="text-center">
                <h1>Thank You {{ customer.name }}!</h1>
                <p>
                    We appreciate your business! If you have any questions, please email
                    <a href="mailto:orders@example.com">orders@example.com</a>.
                </p>
                <a href="{% url 'home' %}"><button class="btn btn-outline-dark">Back Home</button></a>
            </div>
        </div>
    </div>
</div>
</body>

</html>